input:focus {
   outline: none;
}

.search-btn {
   display: flex;
   align-items: center;
   /* font-size: 1.1rem; */
   width: 135px;
   height: 32px;
   border-radius: 11px;
   /* background-color: rgb(20, 8, 96); */
   
   padding: 28px 27px;
}

.search-btn2 {
   display: flex;
   align-items: center;
   /* font-size: 1.1rem; */
   /* width: 135px; */
   height: 32px;
   border-radius: 11px;
   padding: 28px 27px;
}
